{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="card">
     <h5 class="card-header">
        New Post
    </h5>
    <div class="card-body">
        <form action="/admin/postagens/new" method="post">
            <label for="titulo">Título :</label>
            <input type="text" name="titulo" id="titulo" class="form-control" >
            <label for="slug">Slug :</label>
            <input type="text" id="slug" name="slug" class="form-control" >
            <label for="categoria">Categorias :</label>
            <select name="categoria" id="categoria" class="form-control">
                {{#each categoria}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada!</option>
                {{/each}}

            </select>            
            <label for="descricao">Descrição : </label>
            <input type="text" id="descricao" name="descricao" class="form-control" >     
            <label for="conteudo">Conteúdo :</label>
            <textarea type="text" id="conteudo" name="conteudo" class="form-control" ></textarea>
            <button class="btn btn-dark mt-4" type="submit">Add new post</button>
        </form>
    </div>

</div>