<h2>Lista de categorias: </h2>
<hr>
<a href="/admin/categoria/add">
    <button class="btn btn-dark">New categoria</button>
</a>

<br>
{{#each categorias}}
<div class="card text-white bg-secondary mb-3">
    <div class="card-body ">
        {{!-- LIST CATEGORIAS --}}
        <h4>Nome: {{nome}}</h4>
        <small>Slug : {{slug}}</small>

        {{!-- EDIT CATEGORIA --}}
        <a href="/admin/categoria/edit/{{_id}}">          
          <button class="btn btn-dark mt-5">Edit</button> 
        </a>
        
        {{!-- DELETE CATEGORIA--}}
        <form action="/admin/categoria/delete/{{_id}}" method="POST">
            <input type="hidden" name="id" id="id" value="{{_id}}">
            <button type="submit" class="btn btn-danger mt-5">Delete</button>
        </form>

        <hr>
        <small>Criado em :{{date}}</small>

    </div>
</div>
{{else}}
    <h4>Nenhuma categoria registrada</h4>
{{/each}}